
<%- companyInfo.gtm_head %>

<!-- Lead developer: Sem van Beek -->
 
<meta name="robots" content="index, follow" />

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="google-site-verification" content="W7fe-Dge5RDO5ag_tI74e1x1R8v4tAQPgS65_vHu_E0" />

<title><%= page.page_title %> | <%= companyInfo.name %></title>

<meta name="description" content="<%= page.page_description %>"/>
<link rel="alternate" hreflang="nl" href="<%= pageUrl %>"/>
<link rel="canonical" href="<%= pageUrl %>"/>

<meta property="og:title" content="<%= page.page_title %> | <%= companyInfo.name %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="<%= pageUrl %>"/>
<meta property="og:description" content="<%= page.page_description %>"/>
<meta property="og:image" content="<%= pageContent.banner %>"/>

<meta name="theme-color" media="(prefers-color-scheme: light)" content="#d8b866" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2a2a2a" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.css"/>

<link rel="stylesheet" href="<%= versionAsset('/css/fonts.css') %>">
<link rel="stylesheet" href="<%= versionAsset('/css/template.css') %>">
<link rel="stylesheet" href="<%= versionAsset('/css/style.css') %>">

<script src="https://kit.fontawesome.com/ee4fcff081.js" crossorigin="anonymous"></script>

<%- companyInfo.cookie %>