<!DOCTYPE html>
<html lang="nl">

    <head>
        <%- include('../parts/header') %>
    </head>

<body>
<%- companyInfo.gtm_body %>

    <header class="site-header">
        <%- include('../parts/top') %>
        <%- include('../parts/navbar') %>
    </header>
    
    <main>
        <%- include('../parts/banner') %>

        <section class="container-fluid overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="<%= page.image_path ? 'col-xl-6' : 'col-12' %> align-self-center">
                        <div class="content pe-lg-5">
                            <h2><%- page.title %></h2>
                            <div class="text">
                                <% if (page.text) { %>
                                <%- page.text %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% if (page.image_path) { %>
                    <div class="col-xl-6">
                        <figure>
                            <img src="<%= page.image_path %>?w=660&h=440" alt="<%= page.image_alt || page.name || '' %>" width="660" height="440">
                        </figure>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>

    </main>


    <footer>
        <%- include('../parts/footer') %>
    </footer>

    <%- include('../parts/scripts') %>

</body>
</html>
