<!DOCTYPE html>
<html lang="nl">

    <head>

        <%- include('parts/header') %>
    
    </head>

<body>
<%- companyInfo.gtm_body %>

    <header>
        <%- include('parts/navbar') %>
        <%- include('parts/banner') %>
    </header>

    <main>

        <section class="container-fluid">
            
        </section>

        <section class="container-fluid">
            <div class="swiper impression">
                <div class="swiper-wrapper">
                    <!-- loop alle foto's -->
                     <figure class="swiper-slide">
                        
                        <img src="" alt="">
                     </figure>
                </div>
            </div>  
        </section>

    </main>

    <footer>
        <%- include('parts/footer') %>
    </footer>

    <%- include('parts/scripts') %>

</body>
</html>
